.Main {
  text-align: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.Main h1 {
  margin-top: 0;
  padding-top: 5%;
}

.Red {
  color: red;
}

.Light {
  background-color: #fefefe;
  color: black;
}

.Dark {
  background-color: black;
  color: white;
}
