@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.Main {
  text-align: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.Main select {
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.MainSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;
}

.MainSettings button {
  margin-left: 5%;
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
}

.ThemeButton button {
  height: 2.5rem;
  width: 5rem;
}

.Font button {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.5rem;
}

.MainSettings button:hover {
  cursor: pointer;
}

.Previews {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Theme Colors */

.Light {
  background-color: #fefefe;
  color: black;
}

.Light button {
  border: 1px solid black;
  background-color: #fefefe;
  color: black;
}

.Light button:disabled {
    background-color: #cccccc;
    cursor: default;
    color: #666666;
  }

.Dark {
  background-color: #232526;
  color: white;
}

.Dark button {
  border: 1px solid white;
  background-color: #232526;
  color: white;
}

.Dark button:disabled {
    background-color: #cccccc;
    cursor: default;
    color: #666666;
  }

.Dark select {
  border: 1px solid white;
  color: white;
}

.Dark option{
    background-color: #232526;
    color: white;
  }

/* Custom Theme Colors */

.Red {
  border: 1px solid #dd1818;
  background-color: #e35d5b;
  border-radius: 10px;
}

.Blue {
  border: 1px solid #373b44;
  background-color: #4286f4;
  border-radius: 10px;
}

.Green {
  border: 1px solid #11998e;
  background-color: #0f9b0f;
  border-radius: 10px;
}

.CustomLight {
  background-color: #ada996;
  border: 1px solid black;
  border-radius: 10px;
}

.CustomDark {
  background-color: #928dab;
  border: 1px solid white;
  border-radius: 10px;
}
