.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: grey;
  height: 20%;
}

.Navbar h2{
    height: 100%;
    cursor: pointer;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 0.25%;
}

.Navbar a {
  font-size: 1.5rem;
  margin-left: 50px;
  text-decoration: none;
}

/* Themes */
.Light {
  background-color: #d3cce3;
  color: black;
}

.Light a,
.Light a:visited {
  color: black;
}

.Dark {
  background-color: #302b63;
  color: white;
}

.Dark a,
.Dark a:visited{
  color: #fefefe;
}
