.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: grey;
  height: 20%;
}

.Navbar div {
  width: 25%;
  margin-left: 15%;
  height: 100%;
  margin-top: 1%;
}

.Navbar a {
  margin-left: 25%;
}

.Navbar a:visited {
  text-decoration: none;
  color: red;
}
