.Welcome{
    display: flex;
    flex-direction: row;
    padding-left: 27.5%;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.Welcome h1{
    padding-top: 15%;
    margin-right: 10%;
}

.Welcome img {
  margin-top: 5%;
  height: 500px;
  animation: rotation 2s infinite linear;
}

/* Theme Colors */

.Light {
    background-color: #fefefe;
    color: black;
  }
    
  .Dark {
    background-color: #232526;
    color: white;
  }

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }